* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center ;
    position: relative;
  }

  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none; 
    color: black;
  }
  
h1 {
    text-align: center;
    margin: 1.5rem;
    font-size: 3em;
}



.playground {
   position: relative; 
   display: flex;
   gap: 4rem;
   justify-content: center;
   height: 100vh;
   width: 100vw;

}

.navbar {
    position: absolute;
    background-color: rgb(4, 126, 126);
    height: 6rem;
    width: 100%;
    text-align: center;
}

.playercards{
    position: absolute;
    width: 5rem;
    height: 5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(50, 145, 145, 0.267);
    text-align: center;
    padding-top: 5px;
    font-size: 1.3rem;
}

#play1Cards {
    right:  23rem;
    top: 3rem;
 
}

#play2Cards {
    top: 3rem;
    left: 23rem;

   
}

.card {
    top: 7rem;
    position: relative;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4); /* this adds the "card" effect */
    text-align: center;
    background-color: #f1f1f1;
    height: 32rem;
    width: 20rem;
    border-radius: 2px;
    
}

.card-image {
    object-fit: cover; 
    position: absolute;
    width: 95%;
    height: 40%;
    background-color: cadetblue;
    margin-top: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
   
}

.name {
    position: absolute;
    top: -1.8em;
    color: lightcyan;
    background-color: hsla(175, 83%, 9%, 0.644);
    width: 100%;
    text-align: left;
    padding-left: 4px;
}

.card form {
    position: absolute;
    width: 95%;
    height: 55%;
    top: 42%;
    margin: 5px;
}

button {
    cursor: pointer;
    height: 17%;
    width: 100%;
    border-radius: 4%;
}

button:hover {
    transform: scale(1.02);
    transform: scale(1.02);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.8);
}

.class {
    float: left;
    margin: 10px;
}

.value {
    float: right;
    margin: 10px;
}

.drawcards {
    position: absolute;
    top: 33rem;
    font-size: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    background-color: hsla(175, 83%, 9%, 0.644);
    right: -13rem;
    height: 2em;
    padding: 10px;
    color: white;
    border-radius: 4%;
}

#startgame {
    padding-top: 7px;
    position: absolute;
    width: 6rem;
    height: 6rem;
    top: 13rem;
    left: 23rem;
    text-align: center;
    font-size: 1.3rem;
    background-color: rgba(14, 87, 87, 0.486);
}


.popupouter {
    position: absolute;
    width: 100vw;
    height: 120%;
    background-color: rgba(85, 88, 88, 0.226);
    z-index: 12;
    top:0;
    display: grid;
    display: none;
    justify-content: center;

}

#comp_popupinner {
    position: absolute;
    width: 32rem;
    height: 18rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    z-index: 10;
    top:25%;
    background-color: rgba(17, 58, 58, 0.897);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    display: none;

     
}

#comp_popupinner h3 {
    color: rgb(221, 179, 223);
    font-size: 1.5rem;
    text-align: center;
    margin: 10px;
}

.compbar1 {
    position: absolute;
    top: 30%;
    background-color: thistle;
    width: 90%;
    height: 15%;
    border-radius: 7px;
    left: 5%;
}

#innerbar1 {
    padding-top: 7px;
    width: 0px;
    height: 100%;
    background-color: orangered;
    font-size: 1.5rem;
    color: rgb(19, 1, 1);
    text-indent: 7px;
}


.compbar2 {
    position: absolute;
    top: 60%;
    background-color: thistle;
    width: 90%;
    height: 15%;
    border-radius: 7px;
    left: 5%;
}

#innerbar2 {
    padding-top: 7px;
    width: 0px;
    height: 100%;
    background-color: orangered;
    font-size: 1.5rem;
    color: rgb(19, 1, 1);
    text-indent: 7px;
}



#closebtn {
    position: absolute;
    top: 82%;
    left: 80%;
    width: 15%;
    height: 12%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    background-color: thistle;
    display: flex;
    justify-content: center;
    padding: 8px;
    cursor: pointer;
}

#closebtn:hover {
    transform: scale(1.04);
}

#backbtn {
    top: 25rem;
    width: 7rem;  
    left: -15rem;
    position: relative;  
    font-size: 1.3rem;

}

@media (max-width: 1126px) {

    html {
        font-size: 11px;
    }

#navbar {
    display:none;
}

    .c1 {
        transform: scale(0.85);
        top: 45%;
        position: absolute;
        font-size: 1.5rem;
       
    }

    .drawcards {

        top:-15rem;
        transform:  translate(-25rem) rotate(0.75turn);

   
    }

    .c2 {
        transform: scale(0.85);
        top: -2%;
        position: absolute;
        font-size: 1.5rem;
       
    }

    button {
        font-size: 1.3rem;
    }

    #play1Cards {
        right: 21rem;
    }

    #play2Cards {
        left: 21rem;
    }

    #startgame {
        top: 125%;
        left: 21rem;
    }

    .compbar1 {
        position: absolute;
        top: 60%;
        background-color: thistle;
        width: 90%;
        height: 15%;
        border-radius: 7px;
        left: 5%;
    }

    .compbar2 {
        position: absolute;
        top: 30%;
        background-color: thistle;
        width: 90%;
        height: 15%;
        border-radius: 7px;
        left: 5%;
    }    


}

/* index css */


#startform {
    display: flex;
    top: 8rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;


    
}

#startform input {
    width: 250px;
    height: 4rem;
    font-size: 2rem;
    margin-top: 3rem;
    border-radius: 20rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}

#startform input:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.8);
}

#choosedeck {
    position: relative;
    margin-top: 13rem;
    width: 35rem;
    height: 35rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    background-color: rgba(85, 88, 88, 0.699);
}

#choosedeck form {
    display: grid;
    padding: 2rem;
    width: 100%;
    height: 100%;
    row-gap: 2rem;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
}



input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }

label {
    position: relative;
    background-color: #ddd;
    padding: 3px;
    border: 2px solid #444;
    border-radius: 4px;
    font-size: 2rem;
    color: white;
    text-shadow: 0px 0px 5px black;
    text-align: center;
    
}

input[type="radio"]:checked + label {
    border-color: rgb(148, 212, 204);
    border-width:  2px;
    box-shadow:  0 8px 8px 0 rgba(0, 0, 0, 0.8);
}


label:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.8);
  }

.choose-deck-img{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    object-fit: cover;
}

.choose-deck-name {
    position: absolute;
    font-size: 2rem;
    color: white;
    text-shadow: 0px 0px 5px black;
}


#choose-deck-backbtn {
    position: absolute;
    bottom: 3%;
    left: 5%;
    width: 15%;
    height: 10%;
    z-index: 15;
    background-color: #ddd;
    border-radius: 4px;
    border: 2px solid #444;
    text-align: center;
    padding-top: 0.7rem;
    font-size: 1.3rem;
}

.backbtn:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.8);
}

#choosedeck > form > button {
    position: absolute;
    bottom: 3%;
    right: 5%;
    width: 15%;
    height: 10%;
    z-index: 15;
    background-color: #ddd;
    border-radius: 4px;
    border: 2px solid #444;
    text-align: center;
    padding-top: 0.3rem;
    font-size: 1.3rem;
}


#choose-multi-or-cpu {
    position: fixed;
    width: 100vw;
    height: 120%;
    background-color: rgba(85, 88, 88, 0.226);
    z-index: 10;
    top:0;
    display: grid;
    display: none;
    justify-content: center;
    grid-template-columns: 30rem;
    padding-top: 17rem;
    
}

#CPUorMulti form {
    position: relative;
    height: 30rem;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.8);
    background-color: rgba(85, 88, 88, 0.699);
    display: grid;
    justify-content: center;
    grid-template-columns: 80%;
    grid-template-rows: 30% 30%;
    row-gap: 3rem;
    padding-top: 3rem;

}

#CPUorMulti form label {
    padding-top: 2rem;
}


#CPUorMulti button[type='submit'] {
    position: absolute;
    bottom: 3%;
    right: 3%;
    width: 8rem;
}


#CPUorMulit-backtn {
    position: absolute;
    bottom: 3%;
    left: 3%;
    width: 7rem;
    height: 4rem;
    z-index: 15;
}

#choose-difficulty {
    position: fixed;
    width: 100vw;
    height: 120%;
    background-color: rgba(85, 88, 88, 0.226);
    z-index: 10;
    top:0;
    display: grid;
    display: none;
    justify-content: center;
    grid-template-columns: 30rem;
    padding-top: 17rem;
}

#difficulty-form {
    position: relative;
    height: 30rem;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.8);
    background-color: rgba(85, 88, 88, 0.699);
    display: grid;
    justify-content: center;
    grid-template-columns: 65%;
    grid-template-rows: 15% 15% 15%;
    row-gap: 2rem;
    padding-top: 7rem;
}

#difficulty-form div {
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    background-color: #ddd;
    padding: 3px;
    border: 2px solid #444;
    border-radius: 4px;
    color: white;
    text-shadow: 0px 0px 5px black;
    text-align: center;
}

#difficulty-backbtn {
    position: absolute;
    bottom: 3%;
    left: 3%;
    width: 7rem;
    height: 4rem;
    z-index: 15;
}

#difficulty-form button[type='submit'] {
    position: absolute;
    bottom: 3%;
    right: 3%;
    width: 7rem;
    height: 4rem;
}