* {
    box-sizing: border-box;
    margin: 0;
  }
  
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center ;
    position: relative;
  }
  
h1 {
    text-align: center;
    margin: 1.5rem;
    font-size: 3em;
}

.navbar {
    justify-self: center;
    background-color: rgb(4, 126, 126);
    height: 6em;
    width: 100%;
}

.playground {
   display: flex;
   justify-content: center;
   gap: 5rem;
   background-color: lightcyan;
   top: 6.5em;
   position: absolute;
   width: 100%;
   height: 60em;
}

#play1Cards {
    position: absolute;
    width: 5rem;
    height: 5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(50, 145, 145, 0.267);
    left: 18rem;
    top: 2rem;
    text-align: center;
    padding-top: 5px;
    font-size: 1.3rem;
}

#play2Cards {
    position: absolute;
    width: 5rem;
    height: 5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(50, 145, 145, 0.267);
    right: 18rem;
    top: 2rem;
    text-align: center;
    padding-top: 5px;
    font-size: 1.3rem;
}

.card {
    top: 1em;
    position: relative;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4); /* this adds the "card" effect */
    text-align: center;
    background-color: #f1f1f1;
    height: 32em;
    width: 20em;
    border-radius: 2px;
    
}

.card-image {
    object-fit: cover; 
    position: absolute;
    width: 95%;
    height: 40%;
    background-color: cadetblue;
    margin-top: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
   
}

.name {
    position: absolute;
    top: -1.8em;
    color: lightcyan;
    background-color: hsla(175, 83%, 9%, 0.644);
    width: 100%;
    text-align: left;
    padding-left: 4px;
}

form {
    position: absolute;
    width: 95%;
    height: 55%;
    top: 42%;
    margin: 5px;
}

button {
    cursor: pointer;
    height: 17%;
    width: 100%;
}

button:hover {
    transform: scale(1.02);
}

.class {
    float: left;
    margin: 10px;
}

.value {
    float: right;
    margin: 10px;
}

.drawcards {
    position: absolute;
    top: 35rem;
    font-size: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    background-color: hsla(175, 83%, 9%, 0.644);
    height: 2em;
    padding: 10px;
    color: white;
    border-radius: 4%;
}

#startgame {
    margin: 0;
    padding-top: 17px;
    position: absolute;
    width: 6rem;
    height: 6rem;
    top: 13rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 4%;
    right: 10em;
    text-align: center;
    font-size: 1.5rem;
    background-color: rgba(14, 87, 87, 0.486);
    cursor: pointer;
}

#startgame:hover {
    transform:scale(1.04);

}
/* @media only screen and (max-width: 768px) {
    .c2 {
        display: none;
    }
} */